.box {
	border:  1px solid black;
	color: white;
	padding: 10px;
}

.box1 {background: #8cd9ad;}
.box2 {background: #e37e35;}
.box3 {background: #8b008b;}
.box4 {background: #ab2121;}
.box5 {background: #0000b3;}
.box6 {background: #999;}
.box7 {background: #8b4513;}
.box8 {background: #ccc;}
.box9 {background: #80dd80;}